{% extends 'base.html' %}

{% block title %}
{{ item_news.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ item_news.category.get_absolute_url }}">{{ item_news.category }}</a>
    </div>
    <div class="card-body">
        {% if item_news.photo %}
        <img src="{{ item_news.photo.url }}" alt="" width="350" class="float-left mr-3">
        {% else %}
        <img src="https://st2.depositphotos.com/3223379/5688/i/600/depositphotos_56880225-stock-photo-words-news.jpg" alt="" width="350" class="float-left mr-3">
        {% endif %}
            <h5 class="card-title">{{ item_news.title }}</h5>
            <p class="card-text">{{ item_news.content|linebreaks }}</p>
    </div>
    <div class="card-footer text-muted">
        {{ item_news.created_at|date:'Y.m.d H:i' }}
    </div>
</div>

{% endblock %}
